* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: cadetblue;

    #main_div {
        display: relative;

        h1 {
            text-align: center;
            font-size: 4.5rem;
            font-family: "Dancing Script", cursive;
            color: rgb(115, 5, 217);
            padding: 2px 2px 4px 2px;
        }

        #option_div {
            width: 100%;
            text-align: center;
            box-shadow: 6px 4px 6px 1px rgba(0, 0, 0, 0.3);

            .option_btn {
                font-size: 1.2rem;
                padding: 0.4rem 0.8rem;
                margin: 0.7rem 0.1rem;
                border-radius: 5px;
                border: none;
                background-color: rgb(4, 78, 80);
                color: white;
                cursor: pointer;
            }

            button:hover {
                background-color: #9d9c9c;
                transform: scale(1.1);
            }

            #search_emoji {
                font-size: 1.2rem;
                padding: 0.4rem 0.8rem;
                margin: 0.7rem 0.1rem 0.7rem 1rem;
                border-radius: 5px;
                border: none;
                color: white;
                background-color: rgb(4, 78, 80);;
            }
        }

        #emoji_container {
            font-size:3.5rem;
            padding: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin: 0 6rem;
            cursor: pointer;
        }
    }
}

.emoji_box {
    font-size: 3.5rem;
    cursor: pointer;
    padding: 10px;
    /* background-color: #f1f1f1; */
    border-radius: 10px;
    position: relative;
    transition: transform 0.2s ease;
}

.emoji_box:hover {
    /* background-color: #e0e0e0; */
    transform: scale(1.5);
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    .option_btn, #search_emoji {
        font-size: 0.5rem;
    }
    .emoji-Box {
        font-size: 1.2rem;
    }
}